@font-face {
    font-family: 'GSU font';
    src: url('./fonts/GSUFont/GSU-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'GSU font';
    src: url('./fonts/GSUFont/GSU-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
:root {
    --GSU-font: "GSU font", BlinkMacSystemFont, -apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.gsu-font{
    font-family: var(--GSU-font);
}
.box {
    height: 100%;
}

.theme-btn {
    opacity: 0.75;
    position: absolute;
    right: -6px;
    top: -35px;
    cursor: pointer;
}

.theme-btn:hover {
    opacity: 1;
}

.theme-btn a .dark-icon {
    transform: scale(0.55);
}

.theme-btn a .light-icon {
    display: none;
    transform: scale(0.54);
}

body {
    background-color: rgb(21, 32, 43);
}

.notification {
    background-color: #d42f5d;
}

.footer {
    background-color: #15202b;
}

.box {
    background-color: #192734;
}

.box>p {
    color: #e6e8f1;
}

.title {
    color: #e6e8f1;
}

.subtitle {
    color: #a0a2af;
}